<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- インターネット接続を許可するためにandroid.permission.INTERNET を追加 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--　全クラスから呼び出しが出来るようにandroid:name="MyApplication"を追加 -->
    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhisperClient"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".FollowListActivity"
            android:exported="false" />
        <activity
            android:name=".UserEditActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".OverflowMenuActivity"
            android:exported="false" /> <!-- タイムライン画面 -->
        <activity
            android:name=".TimelineActivity"
            android:exported="false" /> <!-- オーバーフローメニューの画面 -->
        <activity
            android:name=".WhisperActivity"
            android:exported="false" /> <!-- ユーザ作成画面 -->
        <activity
            android:name=".CreateUserActivity"
            android:exported="false" /> <!-- ログイン画面 -->
        <!-- <activity -->
        <!-- android:name=".LoginActivity" -->
        <!-- android:exported="false" /> -->
        <!-- メイン画面 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- 　表示したい画面を指定する -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>